root = true

[*.cs]

# Définition : Les champs privés devraient avoir un _ (C'est la règle de base)
dotnet_naming_rule.private_fields_should_begin_with_underscore.severity = silent
dotnet_naming_rule.private_fields_should_begin_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_fields_should_begin_with_underscore.style    = prefix_underscore

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _
